@charset "UTF-8";
fieldset {
	width:500px; height: 250px; border:3px solid black;
}
.searchbox, .searchResult, .searchProducts {
	margin: auto; width:630px; height: 300px; display: table;
}
.items {
	width:500px; height: 40px;
}
.searchbox #CATEGORY,#keyword1,#sort {
	width: 410px;
    border: 1px solid #ddd;
    height: 40px!important;
}

li {
    list-style: none;
}
ul.list {
	display: table;
    width: 100%;
    margin: 0px 0 0;
}
li .chips{
	float: left;
	width: 15px;
    height: 15px;
    margin: 10px 4px 4px 0;
    border: 1px solid #ddd;
    line-height: 0;
}
ul.list li.item {
    display: inline-block;
    margin: 20px 0px 70px;
    border-right: 0px solid rgba(255,255,255,0);
    border-left: 0px solid rgba(255,255,255,0);
    box-sizing: border-box;
    color: #757575;
    vertical-align: top;
}
#searchBar {
	width: 175px; height: 50px; margin-top: 60px
}
.color {
	width:10px; height: 10px; list-style: none;
}
.searchProducts {
  margin: auto;
  width: 740px;
  height: 1000px;
  text-align: center;
}
.img{
  width: 170px;
  height: 360px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.price{
  margin-top: 4px;
}